In [1]:
import pandas as pd

user_df = pd.read_json('users.json')
user_df.head()

           email  id  name
0   ben@gmail.io   1   ben
1   leo@gmail.io   7   leo
2  mary@gmail.io   9  mary

In [2]:
quiz_df = pd.read_csv('quiz.csv')
quiz_df.head()

           email will you want to use code editor familiar language  years
0  ben@gmail.com                                T              ruby      6
1  mary@gmail.io                                F        javascript      5
2   tom@gmail.io                                T            python      4
3  jane@gmail.io                                T            python      7
4  mars@gmail.io                                T              ruby      6

In [3]:
max_years = quiz_df['years'].max()
print(max_years)

7

In [4]:
quiz_df['years'] == max_years
quiz_df[quiz_df['years'] == max_years]

           email will you want to use code editor familiar language  years
3  jane@gmail.io                                T            python      7

In [5]:
mean_years = quiz_df['years'].mean()
print(mean_years)

5.16666666667

In [6]:
result = quiz_df["familiar language"].value_counts()
print(result)

python        3
ruby          2
javascript    1
Name: familiar language, dtype: int64

In [7]:
popular_language = result.index[0]
quiz_user_with_popular_language = quiz_df[quiz_df['familiar language']==popular_language]
print(quiz_user_with_popular_language)

            email will you want to use code editor familiar language  years
2    tom@gmail.io                                T            python      4
3   jane@gmail.io                                T            python      7
5  david@gmail.io                                T            python      3

In [8]:
quiz_with_user = pd.merge(user_df, quiz_df, how='right', left_on = 'email', right_on = 'email')
print(quiz_with_user)

            email   id  name will you want to use code editor  \
0   mary@gmail.io  9.0  mary                                F
1   ben@gmail.com  NaN   NaN                                T
2    tom@gmail.io  NaN   NaN                                T
3   jane@gmail.io  NaN   NaN                                T
4   mars@gmail.io  NaN   NaN                                T
5  david@gmail.io  NaN   NaN                                T

  familiar language  years
0        javascript      5
1              ruby      6
2            python      4
3            python      7
4              ruby      6
5            python      3

In [9]:
result = quiz_with_user.dropna()
print(result)

           email   id  name will you want to use code editor  \
0  mary@gmail.io  9.0  mary                                F

  familiar language  years
0        javascript      5

In [11]:
result = result[result['will you want to use code editor']=='T']
print(result)

Empty DataFrame
Columns: [email, id, name, will you want to use code editor, familiar language, years]
Index: []